<div class="top-menu nav-down">
    <div class="content-container top-menu-wrapper">
        <div class="logo"><a href="/index.html"><img
                    src="https://climate-adapt.eea.europa.eu/++theme++climateadaptv2/static/images/climate-adapt-logo.svg"
                    class = "not-active-yet"
                    alt="Climate-ADAPT Logo"> </a>
            <div class="text">Beta</div>
        </div>
        <div class="top-menu-right-section not-active-yet">
            <div class="top-menu-content not-active-yet">
                <div class="search-box">
                    <form action="#">
                        <input type="text" name="SearchableText" placeholder="Search all site ..." disabled>
                        <div class="line"></div>
                        <button class="search-submit" aria-label="Search on Climate-ADAPT" disabled>
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <ul class="top-menu-nav not-active-yet">
                    <li class="top-menu-nav-item help-menu">
                        <a class="help-link">
                            <i class="fa fa-question-circle"></i>
                            Help
                        </a>
                    </li>
                    <li class="top-menu-nav-item">
                        <div class="login">
                            <div id="personal-menu">
                                <a class="personal-menu-action">
                                    <i class="fa fa-user"></i>
                                    <span class="login-text">My Climate-ADAPT</span>

                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mobile-menu">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <ul id="navbar" class="main-nav main-nav-menu">
        <li class="main-nav-item not-active-yet" id="main-nav-item-0">
            <span>
                <a class="main-nav-link"> <span>About</span></a>
            </span>
        </li>
        <li class="main-nav-item not-active-yet" id="main-nav-item-1">
            <span>
                <a class="main-nav-link">
                    <span>EU policy</span>
                </a>
            </span>
        </li>
        <li class="main-nav-item not-active-yet" id="main-nav-item-2">
            <span>
                <a class="main-nav-link">
                    <span>Countries, Transnational regions, Cities</span>
                </a>
            </span>
        </li>
        <li class="main-nav-item  not-active-yet" id="main-nav-item-3">
            <span>
                <a class="main-nav-link">

                    <span>Knowledge</span>
                </a>
            </span>
        </li>
        <li class="main-nav-item not-active-yet" id="main-nav-item-4">
            <span>
                <a class="main-nav-link" href="#">
                    <span>Networks</span>
                </a>
            </span>
        </li>
    </ul>
</div>