body {
    font-family: sans-serif;
}


div.indicator_graph_row div.result .result_chart {
    height: 300px;
    width: 200px;
}

div.graphs-container {
    min-width: 500px;
    width: 50vw;
    margin: 0 auto;
}

div.table-container {
    /* margin: 0 auto; */
}

div.table-container table select {
    max-width: 300px;
}

div.table-container table,
div.table-container table th,
div.table-container table td {
    border: 1px solid grey;
}
div.table-container table td {
    padding: 0.1em;
}
div.table-container table tbody tr:hover {
    background-color: rgba(0,0,0,0.1);
}

div.table-container table {
    margin: 0 auto;
    border-collapse: collapse;
}

div.indicator_graph_row {
    border: 1px solid grey;
    padding: 0.3em;
    margin-top: 1em;
}

.status-indicator {
    /* text-decoration: none; */
    font-weight: 700;
    color: black;
    padding: 2px;
    border-radius: 4px;
    display: inline-block;
}

select.history_select option.green,
.status-indicator.green {
    background-color: rgba(0,255,0,0.5);
}

select.history_select option.orange,
.status-indicator.orange {
    background-color: rgba(255,165,0, 0.5);
}

select.history_select option.red,
.status-indicator.red {
    background-color: rgba(255,0,0,0.5);
}


@media only screen and (max-width: 1024px) {
    div.graphs-container {
        min-width: 0px;
        width: 95vw;
    }
}

