<div class="footer-nav-wrapper">
    <div class="content-container">
        <nav class="footer-nav" role="navigation">
            <ul>
                <li class="footer-nav-item">
                    <a href="/" class="footer-nav-link">Home</a>
                </li>
                <li class="footer-nav-item">
                    <a href="mailto:climate.adapt@eea.europa.eu" class="footer-nav-link" target="_blank">Contact</a>
                </li>
                <li class="footer-nav-item">
                    <a href="/sitemap" class="footer-nav-link">SITE MAP</a>
                </li>
                <li class="footer-nav-item">
                    <a href="/privacy-and-legal-notice" class="footer-nav-link">Privacy and Legal Notice</a>
                </li>
            </ul>
        </nav>
    </div>
</div>