<table class="plain">
    <thead>
        <tr>    
            <% 
                let i = 0;
                for(const key in data[0]){
                    
                    i++;
            %>
            <th>
                <%= key %>
            </th>    
            <% 
                } 
            %> 
        </tr>
    </thead>

    <tbody>
        <% 
            for(const index in data){
                let item = data[index];

        %>
            <tr>
        <%
                let i = 0;
                for(const key in item){
                    if(item.hasOwnProperty(key)){

                        let style = "";

                        switch(i){
                            case 0:
                                style = 'style="white-space: nowrap"';
                                break;
                        }

                        if(item[key].startsWith('http')){
                            item[key] = `
                                <span class="link-external"><a target="_blank" href="${item[key]}">Source</a></span>
                            `;
                        }

                        i++;
                        
        %>
                        <td <%- style %>>
                            <%- item[key] %>
                        </td>
        <% 
                    }
                }
        %>
            </tr>    
        <%
            } 
        %> 
    </tbody>
</table>