<div class="top-menu nav-down">
    <div class="content-container top-menu-wrapper">
        <div class="logo"><a href="/index.html"><img
                    src="https://climate-adapt.eea.europa.eu/++theme++climateadaptv2/static/images/climate-adapt-logo.svg"
                    alt="Climate-ADAPT Logo"> </a></div>
        <div class="top-menu-right-section">
            <div class="top-menu-content">
                <div class="search-box">
                    <form action="https://climate-adapt.eea.europa.eu/data-and-downloads">
                        <input type="text" name="SearchableText" placeholder="Search all site ...">
                        <div class="line"></div>
                        <button class="search-submit" aria-label="Search on Climate-ADAPT">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <ul class="top-menu-nav">
                    <li class="top-menu-nav-item help-menu">
                        <a class="help-link">
                            <i class="fa fa-question-circle"></i>
                            Help
                        </a>
                        <i class="angle-down-icon"></i>
                        <div class="help-container">
                            <div id="help-items">
                                <ul id="help-navbar" class="help-nav-menu">
                                    <li>
                                        <span>
                                            <a href="https://climate-adapt.eea.europa.eu/help"
                                                class="help-main-nav-link">
                                                <span>Help introduction</span>
                                            </a>
                                        </span>
                                        <div>
                                            <ul>
                                                <li>
                                                    <a
                                                        href="https://climate-adapt.eea.europa.eu/help/glossary">Glossary</a>
                                                </li>
                                                <li>
                                                    <a href="https://climate-adapt.eea.europa.eu/help/faq">FAQ for
                                                        users</a>
                                                </li>
                                                <li>
                                                    <a href="https://climate-adapt.eea.europa.eu/help/faq-providers">FAQ
                                                        for providers</a>
                                                </li>
                                                <li>
                                                    <a href="https://climate-adapt.eea.europa.eu/help/guidance">Guidance
                                                        to search
                                                        function</a>
                                                </li>
                                                <li>
                                                    <a href="https://climate-adapt.eea.europa.eu/help/tutorial-videos">Tutorial
                                                        Videos</a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="https://climate-adapt.eea.europa.eu/help/share-your-info/general">Share
                                                        your
                                                        information</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="top-menu-nav-item">
                        <div class="login">
                            <div id="personal-menu">
                                <a class="personal-menu-action">
                                    <i class="fa fa-user"></i>
                                    <span class="login-text">My Climate-ADAPT</span>

                                    <i class="angle-down-icon"></i>
                                </a>
                            </div>
                            <div class="login-container">
                                <ul class="actionMenu deactivated" id="portal-personaltools">
                                    <li id="anon-personalbar">
                                        <a href="https://climate-adapt.eea.europa.eu/login" id="personaltools-login"
                                            rel="#pb_1" class="link-overlay" style="cursor: pointer;">Log in</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="mobile-menu">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <ul id="navbar" class="main-nav main-nav-menu">
        <li class="main-nav-item" id="main-nav-item-0">
            <span>
                <a class="main-nav-link"> <span>About</span></a>
                <div class="toggle-down">
                    <i class="angle-down-icon"></i>
                </div>
            </span>
            <div class="sub-menu-wrapper">
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/about" class="sub-menu-link">About
                            Climate-ADAPT</a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/about/Outreach" class="sub-menu-link">Outreach</a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/sitemap" class="sub-menu-link">Site map</a>
                    </li>
                    <div class="mobile-clearfix"></div>
                </ul>
            </div>
        </li>
        <li class="main-nav-item" id="main-nav-item-1">
            <span>
                <a class="main-nav-link">
                    <span>EU policy</span>
                </a>
                <div class="toggle-down">
                    <i class="angle-down-icon"></i>
                </div>
            </span>
            <div class="sub-menu-wrapper">
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a class="sub-menu-link" style="color: rgb(58, 58, 58);">EU ADAPTATION POLICY</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/strategy"
                                    class="sub-sub-menu-link">EU Adaptation Strategy</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/eu-adaptation-reporting-mmr"
                                    class="sub-sub-menu-link">EU Reporting on Adaptation (MMR)</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/covenant-of-mayors"
                                    class="sub-sub-menu-link">EU Covenant of Mayors</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/funding"
                                    class="sub-sub-menu-link">EU funding of adaptation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies"
                            class="sub-menu-link">ADAPTATION IN EU POLICY SECTORS</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/agriculture"
                                    class="sub-sub-menu-link">Agriculture</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/biodiversity"
                                    class="sub-sub-menu-link">Biodiversity</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/buildings"
                                    class="sub-sub-menu-link">Buildings</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/coastal-areas"
                                    class="sub-sub-menu-link">Coastal areas</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/disaster-risk-reduction"
                                    class="sub-sub-menu-link">Disaster risk reduction</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/ecosystem"
                                    class="sub-sub-menu-link">Ecosystem-based approaches</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/energy"
                                    class="sub-sub-menu-link">Energy</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/financial"
                                    class="sub-sub-menu-link">Financial</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/forestry"
                                    class="sub-sub-menu-link">Forestry</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/health"
                                    class="sub-sub-menu-link">Health</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/marine-and-fisheries"
                                    class="sub-sub-menu-link">Marine and fisheries</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/transport"
                                    class="sub-sub-menu-link">Transport</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/urban"
                                    class="sub-sub-menu-link">Urban</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/water-management"
                                    class="sub-sub-menu-link">Water management</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/other-eu-policies/eu-regional-policy"
                            class="sub-menu-link">EU REGIONAL POLICY</a>
                    </li>
                    <div class="mobile-clearfix"></div>
                </ul>
            </div>
        </li>
        <li class="main-nav-item" id="main-nav-item-2">
            <span>
                <a class="main-nav-link">
                    <span>Countries, Transnational regions, Cities</span>
                </a>
                <div class="toggle-down">
                    <i class="angle-down-icon"></i>
                </div>
            </span>
            <div class="sub-menu-wrapper">
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/countries-regions/countries"
                            class="sub-menu-link">Country Profiles</a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/eu-adaptation-policy/sector-policies/urban"
                            class="sub-menu-link">Cities and towns</a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions"
                            class="sub-menu-link">Transnational regions</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/adriatic-ionian"
                                    class="sub-sub-menu-link">Adriatic-Ionian</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/alpine-space"
                                    class="sub-sub-menu-link">Alpine Space</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/atlantic-area"
                                    class="sub-sub-menu-link">Atlantic Area</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/balkan-mediterranean"
                                    class="sub-sub-menu-link">Balkan-Mediterranean</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/baltic-sea-region"
                                    class="sub-sub-menu-link">Baltic Sea</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/central-europe"
                                    class="sub-sub-menu-link">Central Europe</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/danube"
                                    class="sub-sub-menu-link">Danube</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/mediterranean"
                                    class="sub-sub-menu-link">Mediterranean</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/north-sea"
                                    class="sub-sub-menu-link">North Sea</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/north-west-europe"
                                    class="sub-sub-menu-link">North West Europe</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/northern-periphery"
                                    class="sub-sub-menu-link">Northern Periphery and Arctic</a>
                            </li>
                            <li class="sub-sub-menu-item">

                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/south-west-europe"
                                    class="sub-sub-menu-link">South West Europe</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/countries-regions/transnational-regions/other-regions"
                                    class="sub-sub-menu-link">Other regions</a>
                            </li>
                        </ul>
                    </li>
                    <div class="mobile-clearfix"></div>
                </ul>
            </div>
        </li>
        <li class="main-nav-item" id="main-nav-item-3">
            <span>
                <a class="main-nav-link">

                    <span>Knowledge</span>
                </a>
                <div class="toggle-down">
                    <i class="angle-down-icon"></i>
                </div>
            </span>
            <div class="sub-menu-wrapper">
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a class="sub-menu-link" style="color: rgb(58, 58, 58);">TOPICS</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/adaptation-information/vulnerabilities-and-risks"
                                    class="sub-sub-menu-link">Impacts, risks and vulnerabilities</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/adaptation-information/adaptation-measures"
                                    class="sub-sub-menu-link">Adaptation options</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/tools/uncertainty-guidance"
                                    class="sub-sub-menu-link">Uncertainty guidance</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/mre"
                                    class="sub-sub-menu-link">Monitoring,
                                    Reporting and Evaluation</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/eu-vulnerability/eu-vulnerability-to-cc-impacts-occurring-outside/"
                                    class="sub-sub-menu-link">Europe's vulnerability to climate change impacts occurring
                                    outside
                                    Europe</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-item">
                        <a class="sub-menu-link" style="color: rgb(58, 58, 58);">DATA AND INDICATORS</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/adaptation-information/climate-services/"
                                    class="sub-sub-menu-link">Copernicus Climate Change Service</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/c-a-indicators"
                                    class="sub-sub-menu-link">Indicators in Climate-ADAPT</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-item">
                        <a href="https://climate-adapt.eea.europa.eu/knowledge/adaptation-information/research-projects"
                            class="sub-menu-link">RESEARCH AND INNOVATION PROJECTS</a>
                    </li>
                    <div class="mobile-clearfix"></div>
                </ul>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a class="sub-menu-link" style="color: rgb(58, 58, 58);">TOOLS</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/tools/adaptation-support-tool"
                                    class="sub-sub-menu-link">Adaptation Support Tool</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/tools/urban-ast/step-0-0"
                                    class="sub-sub-menu-link">Urban Adaptation Support Tool</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/tools/urban-adaptation"
                                    class="sub-sub-menu-link">Urban Adaptation Map Viewer</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/tools/economic-tools"
                                    class="sub-sub-menu-link">Economic tools</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-item">
                        <a class="sub-menu-link" style="color: rgb(58, 58, 58);">PRACTICE</a>
                        <ul class="sub-sub-menu-wrapper">
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/tools/case-studies-climate-adapt/"
                                    class="sub-sub-menu-link">Case studies</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/life-projects"
                                    class="sub-sub-menu-link">LIFE projects</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/interreg-projects"
                                    class="sub-sub-menu-link">INTERREG projects</a>
                            </li>
                            <li class="sub-sub-menu-item">
                                <a href="https://climate-adapt.eea.europa.eu/knowledge/climate-adapt-use-cases"
                                    class="sub-sub-menu-link">Climate-ADAPT use cases</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-item">
                        <icon class="fa fa-database"></icon>
                        <a href="https://climate-adapt.eea.europa.eu/data-and-downloads" class="sub-menu-link">Search
                            the
                            database</a>
                    </li>
                    <div class="mobile-clearfix"></div>
                </ul>
            </div>
        </li>
        <li class="main-nav-item" id="main-nav-item-4">
            <span>
                <a class="main-nav-link" href="https://climate-adapt.eea.europa.eu/network/organisations">
                    <span>Networks</span>
                </a>
            </span>
        </li>
    </ul>
</div>